In [2]:
import pandas as pd
import numpy as np
import os
import csv
from datetime import datetime

DATA_PATH = 'data/'

In [3]:
# TODO: Make scraper module so that we can get data from inside Jupyter Notebook
# Get league data and league_standings

Once we have the data downloaded we can start to create our dataset. We will begin by using data for the last 12 seasons. This should give us enough data to make good predictions, going any further back and the data might not as relevant. 

Due to the nature of football data being time-series data (ie: matches occur over the course of a season) we will be using full seasons (or two seasons) for our test data. We can also use a repeated K-fold to check our accuracy. 

We will first load our data as seperate seasons. We are removing any rows containing NaNs and converting Date to a datetime object, we are also adding a gameId column so that we can process our data easier.

In [4]:
# Run this once to concatenate all seasons together
# df1 = pd.read_csv(os.path.join(DATA_PATH, 'season0708.csv'))
# df2 = pd.read_csv(os.path.join(DATA_PATH, 'season0809.csv'))
# df3 = pd.read_csv(os.path.join(DATA_PATH, 'season0910.csv'))
# df4 = pd.read_csv(os.path.join(DATA_PATH, 'season1011.csv'))
# df5 = pd.read_csv(os.path.join(DATA_PATH, 'season1112.csv'))
# df6 = pd.read_csv(os.path.join(DATA_PATH, 'season1213.csv'))
# df7 = pd.read_csv(os.path.join(DATA_PATH, 'season1314.csv'))
# df8 = pd.read_csv(os.path.join(DATA_PATH, 'season1415.csv'))
# df9 = pd.read_csv(os.path.join(DATA_PATH, 'season1516.csv'))
# df10 = pd.read_csv(os.path.join(DATA_PATH, 'season1617.csv'))
# df11 = pd.read_csv(os.path.join(DATA_PATH, 'season1718.csv'))
# df12 = pd.read_csv(os.path.join(DATA_PATH, 'season1819.csv'))
# df13 = pd.read_csv(os.path.join(DATA_PATH, 'season1920.csv'))

# df = pd.concat([df1, df2, df3, df4, df5, df6, df7,
#                 df8, df9, df10, df11, df12, df13],
#                ignore_index=True, sort=False)
# df.to_csv(os.path.join(DATA_PATH, 'all_seasons_joined.csv'))

In [17]:
def create_df(path):
    """
    Function to convert date to datetime and add 'Id' column
    """
    df = (pd.read_csv(path, dtype={'season': str})
         .assign(Date=lambda df: pd.to_datetime(df.Date))
         .pipe(lambda df: df.dropna(thresh=len(df) - 2, axis=1))  # Drop cols with NAs
         .dropna(axis=0)  # Drop rows with NAs
         .rename(columns={'Unnamed: 0': 'gameId'})
         .sort_values('gameId')
         .reset_index(drop=True)
         )
    return df

In [18]:
df = create_df(os.path.join(DATA_PATH, 'all_seasons_joined.csv'))

In [19]:
df.columns

Index(['gameId', 'Unnamed: 0.1', 'Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG',
       'FTAG', 'FTR', 'HTHG', 'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST',
       'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D',
       'B365A', 'BWH', 'BWD', 'BWA', 'VCH', 'VCD', 'VCA', 'season'],
      dtype='object')

In order to add exponential moving averages we first need to restructure our dataset so that every row is a seperate team, rather than a match.

In [20]:
# Define a function which restructures our DataFrame
def create_multiline_df_stats(old_stats_df):
    # Create a list of columns we want and their mappings to more interpretable names
    home_stats_cols = ['Date', 'season', 'HomeTeam', 'FTHG', 'FTAG', 'HTHG', 'HTAG', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY',
                       'HR', 'AR']
    
    away_stats_cols = ['Date', 'season', 'AwayTeam', 'FTAG', 'FTHG', 'HTAG', 'HTHG', 'AS', 'HS', 'AST', 'HST', 'AF', 'HF', 'AC', 'HC', 'AY', 'HY',
                       'AR', 'HR']
    
    stats_cols_mapping = ['Date', 'season', 'Team', 'goalsFor', 'goalsAgainst', 'halfTimeGoalsFor', 'halfTimeGoalsAgainst', 'shotsFor',
                          'shotsAgainst', 'shotsOnTargetFor', 'shotsOnTargetAgainst', 'freesFor', 'freesAgainst', 
                          'cornersFor', 'cornersAgainst', 'yellowsFor', 'yellowsAgainst', 'redsFor', 'redsAgainst']
    
    # Create a dictionary of the old column names to new column names
    home_mapping = {old_col: new_col for old_col, new_col in zip(home_stats_cols, stats_cols_mapping)}
    away_mapping = {old_col: new_col for old_col, new_col in zip(away_stats_cols, stats_cols_mapping)}
    
    # Put each team onto an individual row
    multi_line_stats = (old_stats_df[['gameId'] + home_stats_cols] # Filter for only the home team columns
                    .rename(columns=home_mapping) # Rename the columns
                    .assign(homeGame=1) # Assign homeGame=1 so that we can use a general function later
                    .append((old_stats_df[['gameId'] + away_stats_cols]) # Append the away team columns
                            .rename(columns=away_mapping) # Rename the away team columns
                            .assign(homeGame=0), sort=True)
                    .sort_values(by='gameId') # Sort the values
                    .reset_index(drop=True))
    return multi_line_stats

In [21]:
# Define a function which creates an EMA DataFrame from the stats DataFrame
def create_stats_features_ema(stats, span):
    # Create a restructured DataFrames so that we can calculate EMA
    multi_line_stats = create_multiline_df_stats(stats)
    
    # Create a copy of the DataFrame
    ema_features = multi_line_stats[['Date', 'season', 'gameId', 'Team', 'homeGame']].copy()
    
    # Get the columns that we want to create EMA for
    feature_names = multi_line_stats.drop(columns=['Date', 'season', 'gameId', 'Team', 'homeGame']).columns
    
    # Loop over the features
    for feature_name in feature_names:
        feature_ema = (multi_line_stats.groupby('Team')[feature_name] # Calculate the EMA
                                                  .transform(lambda row: row.ewm(span=span, min_periods=2)
                                                             .mean()
                                                             .shift(1))) # Shift the data down 1 so we don't leak data
        ema_features[feature_name] = feature_ema # Add the new feature to the DataFrame
    return ema_features

In [22]:
# Add weighted average to each row with a span of 50.
df = create_stats_features_ema(df, 50)
df.tail()

,Date,season,gameId,Team,homeGame,cornersAgainst,cornersFor,freesAgainst,freesFor,goalsAgainst,...,halfTimeGoalsAgainst,halfTimeGoalsFor,redsAgainst,redsFor,shotsAgainst,shotsFor,shotsOnTargetAgainst,shotsOnTargetFor,yellowsAgainst,yellowsFor
9353,2019-10-11,1920,4678,Man United,1,4.463278,5.621099,11.782537,10.860312,1.176057,...,0.432780,0.786619,0.046206,0.049316,11.632936,13.971949,4.116237,5.162790,2.012513,1.979686
9354,2019-10-11,1920,4679,Aston Villa,0,7.020499,4.368933,11.355993,11.041390,1.898366,...,0.627163,0.457956,0.145884,0.107494,15.335033,11.063668,4.964291,3.888921,1.615075,1.740525
9355,2019-10-11,1920,4679,Wolves,1,5.447315,5.041140,9.197561,10.666605,1.352341,...,0.719950,0.401330,0.091390,0.090174,13.001258,11.549488,4.513828,3.935029,1.786547,1.803131
9356,2019-10-11,1920,4680,Liverpool,1,3.484546,6.505677,9.394609,8.408972,0.734002,...,0.351196,1.024687,0.006889,0.025169,8.281444,16.020127,2.527664,6.120457,1.376215,1.103293
9357,2019-10-11,1920,4680,Man City,0,2.328700,8.047235,8.252510,9.267069,0.706785,...,0.366414,1.260246,0.031769,0.054042,6.455303,19.305570,2.713376,6.951022,1.523373,1.517090

In [23]:
df.columns

Index(['Date', 'season', 'gameId', 'Team', 'homeGame', 'cornersAgainst',
       'cornersFor', 'freesAgainst', 'freesFor', 'goalsAgainst', 'goalsFor',
       'halfTimeGoalsAgainst', 'halfTimeGoalsFor', 'redsAgainst', 'redsFor',
       'shotsAgainst', 'shotsFor', 'shotsOnTargetAgainst', 'shotsOnTargetFor',
       'yellowsAgainst', 'yellowsFor'],
      dtype='object')

In [24]:
pd.DataFrame(df.groupby('Team')
               .goalsFor
               .mean()
               .sort_values(ascending=False)[:10])

             goalsFor
Team
Man City     2.000609
Arsenal      1.914486
Chelsea      1.879678
Man United   1.858993
Liverpool    1.843912
Tottenham    1.695701
Blackpool    1.500244
Everton      1.438694
Leicester    1.396163
Bournemouth  1.290422

We now need to restructure our dataset back to having a match on each row as this will be a much easier format for machine learning.

In [25]:
def restructure_stats_features(stats_features):
    non_features = ['homeGame', 'Team', 'gameId']

    stats_features_restructured = (stats_features.query('homeGame == 1')
                                    .rename(columns={col: 'f_' + col + 'Home' for col in stats_features.columns if col not in non_features})
                                    .rename(columns={'Team': 'HomeTeam'})
                                    .pipe(pd.merge, (stats_features.query('homeGame == 0')
                                                        .rename(columns={'Team': 'AwayTeam'})
                                                        .rename(columns={col: 'f_' + col + 'Away' for col in stats_features.columns 
                                                                         if col not in non_features})), on=['gameId'])
                                    .dropna())
    return stats_features_restructured

df = restructure_stats_features(df)
df.tail()

,f_DateHome,f_seasonHome,gameId,HomeTeam,homeGame_x,f_cornersAgainstHome,f_cornersForHome,f_freesAgainstHome,f_freesForHome,f_goalsAgainstHome,...,f_halfTimeGoalsAgainstAway,f_halfTimeGoalsForAway,f_redsAgainstAway,f_redsForAway,f_shotsAgainstAway,f_shotsForAway,f_shotsOnTargetAgainstAway,f_shotsOnTargetForAway,f_yellowsAgainstAway,f_yellowsForAway
4674,2019-09-11,1920,4676,Tottenham,1,5.174583,5.396061,10.503416,9.821379,1.180631,...,0.352324,0.522339,0.000000,0.086649,10.828793,10.012291,3.281498,3.063778,1.333950,1.842662
4675,2019-09-11,1920,4677,Leicester,1,4.714889,6.088386,10.443157,9.989387,1.099211,...,0.669162,0.747372,0.042632,0.085453,14.063667,12.951720,4.893380,4.673589,1.999102,2.037873
4676,2019-10-11,1920,4678,Man United,1,4.463278,5.621099,11.782537,10.860312,1.176057,...,0.575368,0.418226,0.025272,0.127145,14.222005,11.103118,4.559917,3.182055,1.351844,1.370971
4677,2019-10-11,1920,4679,Wolves,1,5.447315,5.041140,9.197561,10.666605,1.352341,...,0.627163,0.457956,0.145884,0.107494,15.335033,11.063668,4.964291,3.888921,1.615075,1.740525
4678,2019-10-11,1920,4680,Liverpool,1,3.484546,6.505677,9.394609,8.408972,0.734002,...,0.366414,1.260246,0.031769,0.054042,6.455303,19.305570,2.713376,6.951022,1.523373,1.517090

In [26]:
df.shape

(4622, 41)

In [27]:
df.to_csv(os.path.join(DATA_PATH, 'EMA_data.csv'))