In [20]:
import pandas as pd
import numpy as np
import os
import csv
from datetime import datetime

DATA_PATH = 'data/'

In [21]:
# TODO: Make scraper module so that we can get data from inside Jupyter Notebook
# Get league data and league_standings

Once we have the data downloaded we can start to create our dataset. We will begin by using data for the last 12 seasons. This should give us enough data to make good predictions, going any further back and the data might not as relevant. 

Due to the nature of football data being time-series data (ie: matches occur over the course of a season) we will be using full seasons (or two seasons) for our test data. We can also use a repeated K-fold to check our accuracy. 

We will first load our data as seperate seasons. We are removing any rows containing NaNs and converting Date to a datetime object, we are also adding a gameId column so that we can process our data easier.

In [22]:
# Run this once to concatenate all seasons together
# df1 = pd.read_csv(os.path.join(DATA_PATH, 'season0708.csv'))
# df2 = pd.read_csv(os.path.join(DATA_PATH, 'season0809.csv'))
# df3 = pd.read_csv(os.path.join(DATA_PATH, 'season0910.csv'))
# df4 = pd.read_csv(os.path.join(DATA_PATH, 'season1011.csv'))
# df5 = pd.read_csv(os.path.join(DATA_PATH, 'season1112.csv'))
# df6 = pd.read_csv(os.path.join(DATA_PATH, 'season1213.csv'))
# df7 = pd.read_csv(os.path.join(DATA_PATH, 'season1314.csv'))
# df8 = pd.read_csv(os.path.join(DATA_PATH, 'season1415.csv'))
# df9 = pd.read_csv(os.path.join(DATA_PATH, 'season1516.csv'))
# df10 = pd.read_csv(os.path.join(DATA_PATH, 'season1617.csv'))
# df11 = pd.read_csv(os.path.join(DATA_PATH, 'season1718.csv'))
# df12 = pd.read_csv(os.path.join(DATA_PATH, 'season1819.csv'))
# df13 = pd.read_csv(os.path.join(DATA_PATH, 'season1920.csv'))

# df = pd.concat([df1, df2, df3, df4, df5, df6, df7,
#                 df8, df9, df10, df11, df12, df13],
#                ignore_index=True, sort=False)
# df.to_csv(os.path.join(DATA_PATH, 'all_seasons_joined.csv'))

In [23]:
def create_df(path):
    """
    Function to convert date to datetime and add 'Id' column
    """
    df = (pd.read_csv(path)
         .assign(Date=lambda df: pd.to_datetime(df.Date))
         .pipe(lambda df: df.dropna(thresh=len(df) - 2, axis=1))  # Drop cols with NAs
         .dropna(axis=0)  # Drop rows with NAs
         .sort_values('season')
         .reset_index(drop=True)
         .assign(gameId=lambda df: list(df.index + 1))
         )
    return df

In [24]:
df = create_df(os.path.join(DATA_PATH, 'all_seasons_joined.csv'))

In [25]:
df.head()

,Unnamed: 0,Unnamed: 0.1,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,B365D,B365A,BWH,BWD,BWA,VCH,VCD,VCA,season,gameId
0,0,0,E0,2007-11-08,Aston Villa,Liverpool,1.0,2.0,A,0.0,...,3.25,1.9,3.65,3.20,1.95,3.50,3.20,2.0,708,1
1,258,258,E0,2008-11-02,Arsenal,Blackburn,2.0,0.0,H,1.0,...,4.75,11.0,1.35,4.25,8.00,1.35,3.80,10.0,708,2
2,257,257,E0,2008-10-02,Man United,Man City,1.0,2.0,A,0.0,...,5.00,13.0,1.30,4.75,8.25,1.30,5.20,12.0,708,3
3,256,256,E0,2008-10-02,Chelsea,Liverpool,0.0,0.0,D,0.0,...,3.20,4.5,1.85,3.25,4.00,2.05,3.25,4.1,708,4
4,255,255,E0,2008-09-02,West Ham,Birmingham,1.0,1.0,D,1.0,...,3.60,4.5,1.75,3.30,4.40,1.80,3.50,5.0,708,5

In [26]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Div', 'Date', 'HomeTeam', 'AwayTeam',
       'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG', 'HTR', 'Referee', 'HS', 'AS',
       'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR', 'B365H',
       'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'VCH', 'VCD', 'VCA', 'season',
       'gameId'],
      dtype='object')

In order to add exponential moving averages we first need to restructure our dataset so that every row is a seperate team, rather than a match.

In [32]:
# Define a function which restructures our DataFrame
def create_multiline_df_stats(old_stats_df):
    # Create a list of columns we want and their mappings to more interpretable names
    home_stats_cols = ['Date', 'season', 'HomeTeam', 'FTHG', 'FTAG', 'HTHG', 'HTAG', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY',
                       'HR', 'AR']
    
    away_stats_cols = ['Date', 'season', 'AwayTeam', 'FTAG', 'FTHG', 'HTAG', 'HTHG', 'AS', 'HS', 'AST', 'HST', 'AF', 'HF', 'AC', 'HC', 'AY', 'HY',
                       'AR', 'HR']
    
    stats_cols_mapping = ['Date', 'season', 'Team', 'goalsFor', 'goalsAgainst', 'halfTimeGoalsFor', 'halfTimeGoalsAgainst', 'shotsFor',
                          'shotsAgainst', 'shotsOnTargetFor', 'shotsOnTargetAgainst', 'freesFor', 'freesAgainst', 
                          'cornersFor', 'cornersAgainst', 'yellowsFor', 'yellowsAgainst', 'redsFor', 'redsAgainst']
    
    # Create a dictionary of the old column names to new column names
    home_mapping = {old_col: new_col for old_col, new_col in zip(home_stats_cols, stats_cols_mapping)}
    away_mapping = {old_col: new_col for old_col, new_col in zip(away_stats_cols, stats_cols_mapping)}
    
    # Put each team onto an individual row
    multi_line_stats = (old_stats_df[['gameId'] + home_stats_cols] # Filter for only the home team columns
                    .rename(columns=home_mapping) # Rename the columns
                    .assign(homeGame=1) # Assign homeGame=1 so that we can use a general function later
                    .append((old_stats_df[['gameId'] + away_stats_cols]) # Append the away team columns
                            .rename(columns=away_mapping) # Rename the away team columns
                            .assign(homeGame=0), sort=True)
                    .sort_values(by='gameId') # Sort the values
                    .reset_index(drop=True))
    return multi_line_stats

In [33]:
# Define a function which creates an EMA DataFrame from the stats DataFrame
def create_stats_features_ema(stats, span):
    # Create a restructured DataFrames so that we can calculate EMA
    multi_line_stats = create_multiline_df_stats(stats)
    
    # Create a copy of the DataFrame
    ema_features = multi_line_stats[['Date', 'season', 'gameId', 'Team', 'homeGame']].copy()
    
    # Get the columns that we want to create EMA for
    feature_names = multi_line_stats.drop(columns=['Date', 'season', 'gameId', 'Team', 'homeGame']).columns
    
    # Loop over the features
    for feature_name in feature_names:
        feature_ema = (multi_line_stats.groupby('Team')[feature_name] # Calculate the EMA
                                                  .transform(lambda row: row.ewm(span=span, min_periods=2)
                                                             .mean()
                                                             .shift(1))) # Shift the data down 1 so we don't leak data
        ema_features[feature_name] = feature_ema # Add the new feature to the DataFrame
    return ema_features

In [34]:
# Add weighted average to each row with a span of 50.
df = create_stats_features_ema(df, 50)
df.tail()

KeyError: "['HTHG', 'FTAG', 'AC', 'AF', 'AS', 'AST', 'HTAG', 'HF', 'HY', 'HR', 'HS', 'FTHG', 'HC', 'HST', 'AY', 'HomeTeam', 'AR'] not in index"

In [35]:
pd.DataFrame(df.groupby('Team')
               .goalsFor
               .mean()
               .sort_values(ascending=False)[:10])

             goalsFor
Team
Man City     1.979357
Arsenal      1.911023
Chelsea      1.880686
Man United   1.875556
Liverpool    1.845744
Tottenham    1.683634
Blackpool    1.433013
Everton      1.423619
Leicester    1.420888
Bournemouth  1.301327

We now need to restructure our dataset back to having a match on each row as this will be a much easier format for machine learning.

In [36]:
def restructure_stats_features(stats_features):
    non_features = ['homeGame', 'Team', 'gameId']

    stats_features_restructured = (stats_features.query('homeGame == 1')
                                    .rename(columns={col: 'f_' + col + 'Home' for col in stats_features.columns if col not in non_features})
                                    .rename(columns={'Team': 'HomeTeam'})
                                    .pipe(pd.merge, (stats_features.query('homeGame == 0')
                                                        .rename(columns={'Team': 'AwayTeam'})
                                                        .rename(columns={col: 'f_' + col + 'Away' for col in stats_features.columns 
                                                                         if col not in non_features})), on=['gameId'])
                                    .dropna())
    return stats_features_restructured

df = restructure_stats_features(df)
df.head()

,f_DateHome,f_seasonHome,gameId,HomeTeam,homeGame_x,f_cornersAgainstHome,f_cornersForHome,f_freesAgainstHome,f_freesForHome,f_goalsAgainstHome,...,f_halfTimeGoalsAgainstAway,f_halfTimeGoalsForAway,f_redsAgainstAway,f_redsForAway,f_shotsAgainstAway,f_shotsForAway,f_shotsOnTargetAgainstAway,f_shotsOnTargetForAway,f_yellowsAgainstAway,f_yellowsForAway
21,2008-02-23,708,22,Fulham,1,8.53000,3.000000,12.510000,9.490000,1.000000,...,1.00,0.49,0.0,0.49,7.55,11.37,3.00,5.41,2.96,1.53
22,2008-02-23,708,23,Liverpool,1,3.62605,3.359819,13.893348,12.291828,0.320091,...,0.00,0.49,0.0,0.00,10.00,15.08,6.53,8.55,1.49,2.53
23,2008-02-23,708,24,Newcastle,1,6.49000,8.060000,14.920000,12.020000,2.470000,...,1.49,0.00,0.0,0.00,9.51,17.47,7.51,9.51,1.53,4.06
24,2008-09-03,708,25,Sunderland,1,5.96000,1.490000,7.020000,11.470000,1.530000,...,0.00,0.00,0.0,0.00,13.49,10.49,3.98,4.98,2.04,1.02
25,2008-08-03,708,26,Reading,1,5.45000,10.550000,14.530000,13.510000,1.510000,...,1.02,1.49,0.0,0.00,16.45,6.96,9.00,4.45,0.49,1.02

In [38]:
df.to_csv(os.path.join(DATA_PATH, 'EMA_data.csv'))